* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(map-dCM19DESG-transformed.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  color: rgba(255, 255, 255, 0.774);
  height: 28rem;
  width: 21rem;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(3, 3, 3, 0.5);
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 2rem;
}

.input-val {
  margin-bottom: 1.6rem;
  max-width: 100%;
}

input {
  font-size: 1.3rem;
}

.selector-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.selector-boxes select {
  font-size: 1.2rem;
}

.selector-boxes img {
  max-width: 2.3rem;
}

.selector-from,
.selector-to {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-container p {
  font-size: 1.5rem;
}

.get-data-container button {
  margin-top: 2rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 2rem;
  font-weight: 850;
  background-color: rgba(0, 0, 0, 0.564);
}

button:hover {
  color: black;
  background-color: white;
  font-weight: 900;
  border: 2px solid black;
}
